html, body {
    margin: 0px;
    padding: 0px;
}  

.field_container{
    padding: 0px 10%;
    padding-bottom: 5%;
    column-gap: 25px;
    row-gap: 25px;
}

.align_right{
    text-align: right;
    padding: 5%;
}