/* 
    -----------------
    Table of Content
    -----------------
    Utility
    Site Header
    Site Footer

*/
// utililty
@import "utility";

// Site Header

.site-header {
  padding: 5px 20px;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  z-index: 2;
  transition: all 0.3s ease-in;
  background: $primarybg;
  @media (max-width: 767px) {
    left: 0;
  }
  .brand-logo {
    //   display: none;
    @media (max-width: 767px) {
      display: block;
    }
    img {
      width: 50px;
    }
  }
}

.title-header {
  text-align: center;
  width: 100%;
  color: $white;
}
.lng-switch-cont {
  display: flex;
  justify-content: flex-end;
}

.site-footer {
  padding: 5px 20px;
  width: 100%;
  text-align: center;
  background: $primarybg;
  color: $white;
  flex-grow: 1;
}

.site-body {
  margin: 0px;
  margin-top: 50px;
  padding: 2% 10%;
  min-height: 80vh;
}

// side-bar
.active {
  background-color: $secondarybg;
  color: $secondaryColor;
  &:hover {
    box-shadow: -1px 1px $primarybg2, -2px 2px $secondarybg, -3px 3px $secondarybg, -4px 4px $secondarybg,
      -5px 5px $secondarybg;
  }
}

.inactive {
  background-color: $primarybg;
  color: $primaryColor;
  &:hover {
    box-shadow: -1px 1px $primarybg2, -2px 2px $primarybg, -3px 3px $primarybg, -4px 4px $primarybg, -5px 5px $primarybg;
  }
}

.sidebar {
  background-color: $primarybg2;
  padding: 10px 0px;
  font-size: large;
  padding-top: 25px;
  min-height: 100vh;
}

.sidebar .brand-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.sidebar .brand-logo .logo {
  width: 50%;
}

.sidebar li {
  padding: 10px 0px;
  padding-left: 10%;
  margin: 15px 0px;
  margin-left: 10%;
  border-radius: 50px 0px 0px 50px;
  border: 1px solid $primarybg2;
  transition: box-shadow 0.5s;
}

.sidebar span {
  margin-left: 5px;
}

// admin-page
.admin-page {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.admin-page .left {
  border: transparent solid 5px;
  width: 85%;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.admin-page .sidebar {
  width: 15%;
}

// admin-header
.admin-header {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  box-shadow: 1px -1px 2px 1px #c0c0c0, -1px 1px 2px 1px #c0c0c0;
  width: 100%;
  & > .title {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: x-large;
    padding: 0px 2%;
    color: $primarybg;
  }
  & > .action_cont {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    & > * {
      margin: 0px 15px;
    }
  }
}

.admin-body {
  margin: 25px 0px;
  box-shadow: 1px -1px 2px 1px #c0c0c0, -1px 1px 2px 1px #c0c0c0;
  padding: 15px;
  flex-grow: 1;
}

.info-cont {
  @extend .box;
  margin: 25px;
  & > * {
    margin: 10px 5px;
  }
}

.info {
  font-size: large;
  display: flex;
  // border-bottom: 1px solid #c0c0c0;
  & > * {
    padding: 0px 15px;
  }
  & .lable {
    font-weight: bold;
    text-transform: uppercase;
    // border-right: 1px solid #c0c0c0;
    width: 25%;
  }

  & .value {
    flex-grow: 1;
    // border-left: 1px solid #c0c0c0;
  }
}

// tables
.data-table {
  display: flex;
  justify-content: center;
  margin: 20px;
  // overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table thead {
  background: $primarybg;
  color: $primaryColor;
}

.table thead tr th {
  padding: 20px 15px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  border: 2px solid $primarybg;
}

.table tbody tr td {
  font-size: 16px;
  padding: 5px;
  vertical-align: middle;
  color: $primarybg;
  border: 2px solid $primarybg;
  border-top: 0;
  border-collapse: collapse;
  // overflow: auto;
}

.table tbody tr td strong {
  font-weight: 600;
}

.table tbody tr td svg {
  font-size: 26px;
}

.table tbody tr td span {
  font-size: 14px;
  font-weight: 300;
}

.fixed-col {
  width: 120px;
}

.action-cell {
  display: flex;
  justify-content: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $primaryColor;
  color: $primarybg;
}

.action {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  & > * {
    margin-left: 10px;
  }
}

.modal-body {
  padding: 10px;
  max-height: 80vh;
  width: 40vw;
  overflow: auto;
  & > * {
    margin: 25px;
  }
}

.list-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid $primarybg;
  & > * {
    margin: 0px 10px;
  }
}

.action-field {
  display: flex;
  align-items: center;
  padding: 0 10px;
  & > * {
    margin-left: 10px;
    &:first-child {
      flex-grow: 1;
    }
  }
}

.lang-option {
  display: flex;
  align-items: center;
  & > *:first-child {
    margin-right: 5px;
  }
  &:hover {
    color: $secondarybg;
    text-decoration: underline;
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  & .body {
    min-width: 350px;
    background-color: $white;
    padding: 15px;
    @extend .box;
    & .form {
      padding: 2px;
    }
    & .logo-cont {
      display: flex;
      justify-content: center;
      & .logo {
        width: 100px;
        margin-bottom: 20px;
      }
    }
    & hr {
      margin: 15px 0px;
    }
  }
}

.search-title {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  color: $primarybg2;
  text-decoration: underline;
  margin-bottom: 15px;
}

.search-note {
  display: flex;
  font-size: large;
  color: gray;
  margin-bottom: 15px;
  & .nb {
    color: $primarybg2;
    margin-right: 5px;
    text-decoration: underline;
  }
  & .text span {
    color: $primarybg2;
  }
}

.modal .title {
  color: $primarybg2;
  font-size: x-large;
  text-align: center;
}

.modal .body {
  display: flex;
  flex-direction: column;
  & input {
    margin-bottom: 15px;
    height: 15px;
    padding: 15px 10px;
    line-height: 20px;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  & span {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
}

.info-box {
  // font-size:medium;
  & span {
    color: $primarybg2;
    font-weight: bold;
  }
}

.form-link {
  color: gray;
}

.reg {
  max-height: 80vh;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  & > .form {
    & > * {
      margin: 5px 0px;
    }
    & .div {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
      & > .action {
        flex-grow: 1;
        flex-wrap: wrap;
        & > div {
          padding: 0px 7px;
          display: flex;
        }
        & > div:hover {
          color: blue;
          text-decoration: underline;
        }
      }
    }
  }
  & > .action {
    width: 100%;
    padding: 5px 15px;
  }
}

.accordion {
  // padding: 5px;
  border-radius: 7px;
  border: solid 1px #c0c0c0;
  & .details {
    & table {
      border-collapse: collapse;
    }
    & td {
      padding-right: 20px;
      padding-top: 5px;
    }

    & .sep {
      border-bottom: solid 1px #c0c0c0;
    }
  }
  & .accordion-summary {
    overflow: auto;
  }
}

.modal-form {
  max-height: 50vh;
  & * {
    margin-bottom: 2px;
  }
}

.admin-table {
  overflow: auto;
  height: 100%;
  & table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
  }
  & .table {
    & td,
    & tr {
      border: 1px solid #c0c0c0;
      padding: 8px;
    }
    & tr:nth-child(even) {
      background-color: #ddd;
    }
    & tr:hover {background-color: #aaa;}
    & th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: $primarybg;
      color: $primaryColor;
    }
  }
}

.pagination{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  & > div {
    margin: 2px;
    padding: 3px 5px;
    background: $primarybg;
    color: $primaryColor;
    cursor: pointer;
    &:hover {
      background: $primarybg2;
    }
  }
  & .current {
    background: $secondarybg;
    &:hover {
      background: $secondarybg;
    }
  }
}

