html, body {
    margin: 0px;
    padding: 0px;
}  

.field_container{
    padding: 0px 10%;
    padding-bottom: 5%;
}

.field_container_mult_col{
    display: flex;
    align-items: stretch;
}

.two_col{
    width: 45%;
    padding: 2%;
    padding-bottom: 15px;
}
.right_col{
    border: solid grey 0px;
    border-left-width: 2px;
}

.left_col{
    border: solid grey 0px;
    border-right-width: 2px;
}

.mid_col{
    border: 0px 5px solid grey;
}

.align_right{
    text-align: right;
    padding: 5%;
}



.vL{
    border-left:  solid 10px grey ;
    height: 100%;
    margin: 5px;
}

.hL{
    border-bottom: 6px red solid;
    width: 100%;
}

.button1{
    margin: 0px 5px;
}

.flow_right{
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}