@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

$primary: #00008b;
$primarybg: #07222f;
$primarybg2: #155f85;
$primaryColor: #fff;
$secondarybg: #c5990c;
$secondaryColor: #07222f;
$black: #07222f;
$black2: #06151d;
$blue: #495aff;
$blue2: #0d3b66;
$red: #fd005d;
$yellow: #ffc300;
$yellow2: #c5990c;
$green: #2a9d8f;
$white: #fff;
$grey: #585858;

$siteFont: "Jost", sans-serif;
$headdingFont: "Open Sans", sans-serif;

$primarygradient: linear-gradient(to right, $primarybg 0%,$primarybg2 50%, $secondarybg 100%);
$bluegradient: linear-gradient(to right, $blue 100%, $blue2 100%);
$bluegradient2: linear-gradient(top, #009efd, #2af598);

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: $siteFont;
    font-weight: 400;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        text-decoration: none;
    }
}

button {
    outline: none;
    border: 0;
    box-shadow: none;
    text-decoration: none !important;
    &:focus {
        box-shadow: none !important;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headdingFont;
}
button,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none !important;
    transition: 0.3s;
}

input,
button,
select,
textarea {
    outline: none;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}


/* Buttons Css */
.btn {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    height: 40px ;
    padding: 0px 15px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
    width: fit-content;
    svg {
        margin-right: 5px;
        font-size: 16px;
        position: relative;
    }
    img {
        margin-right: 5px;
        font-size: 16px;
        position: relative;
    }
    background: $primarybg;
    color: $primaryColor;
    &:hover {
        background: $secondarybg;
        color: $secondaryColor;
    }
    display: flex;
    align-items: center;
}

 .v-center {
    display: flex;
    align-items: center;
 }

 .h-center {
     display: flex;
     justify-content: center;
 }

.raised {
    box-shadow: 1px -1px 2px 1px #C0C0C0,-1px 1px 2px 1px #C0C0C0;
}

.stack {
    & > *{
        margin: 15px 0px;
    }
}

.left-align{
    display: flex;
    justify-content:flex-end;
    & > *{
        margin-right: 20px;
    }
}

.box{
    box-shadow: 1px -1px 2px 1px #C0C0C0,-1px 1px 2px 1px #C0C0C0;
    padding: 5px 15px;
    border-radius: 7px;
}

.danger {
    color: red;
}

.btn-danger {
    background: red;
    color: #fff;
}

.action-btn {
    cursor: pointer;
    border: solid transparent 1px;
    padding: 5px;
    &:hover {
        border: solid $primarybg 1px;
        color: $primaryColor;
        background: $primarybg;
        border-radius: 50%;
    }
    
}

.icon {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > *:hover{
        color: $primaryColor;
        background: $primarybg;
        border-radius: 50%;
    }
}